:root {
    --cor-azul-marinho: rgb(30, 27, 55);
    --cor-cinza: rgb(207, 207, 207); 
  }

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--cor-cinza);
}

header{
    margin: 0 10%;
    padding: 25px;
    color: var(--cor-azul-marinho);
    border-radius: 0 0 15px 15px;
    display: inline-flex;
}

header div img{
    height: 150px; 
    margin-right: 25px;
}

ul{
    /* width: 100%; */
    list-style: none;
    /* height: 30px; */
    margin: 0 10%;
    box-decoration-break: none;
    border-radius: 5px;
}

ul li a{    
    font-weight: bold;
    background-color: var(--cor-azul-marinho);
    padding: 10px;
    text-decoration: none;
    color: var(--cor-cinza);
}

ul li a:hover{
    font-weight: bold;
    background-color: aqua;
    padding: 10px;
    text-decoration: none;
    color: var(--cor-azul-marinho);
}

.rotacionar {
    animation: girar 2s;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
}

.container{    
    margin: 0 10%;
}

.margemBaixo{
    margin-bottom: 15px;
}

pre {
    width: 700px;    
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
    overflow-x: auto;
}
  
code {
    display: block;
    white-space: pre;
    tab-size: 8;
  }

.aviso{
    background-color: rgba(255, 251, 0, 0.651);
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    
}

.delimitador{
    width: 500px;
}

.centralizarTexto{
    text-align: center;
}

.botaoVoltar{
    width: 200px;
    height: 75px;
    background-color: var(--cor-azul-marinho);
    color: var(--cor-cinza);
    text-decoration: none;
}